html { height: 100%; overflow: auto; }

body {
	text-align: center;
	font-size: 1em;
	color: #202020;
	margin: 0px;
	padding: 0px;
	background: #202020;
}
.jsonly { display: none; }

h1, h2, h3, h4, #name { margin:0px; font-family: "Birch Std", Didot, "Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif; }

#outer {
	width: 1016px;
	height: 610px;
	margin: 0 auto;
	padding: 2%;
	position: relative;
}

#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	clear: both;
	overflow: visible;
	position: relative;
	background: #a78763;
	/*background: #a78763 url('../images/texture2.jpg') no-repeat center center;*/
	/* Scale image - Safari 3+/Chrome Whatever+/IE 9+/Opera 10+/Firefox 3.6+ */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0px 0px 15px #000000;
	z-index: 1;
}
#portal {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#sky,#glass,#portalinner {
	position: absolute;
	width: 100%;
	height: 100%;
}
#sky {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
	z-index: 3;
}
#glass,#portalinner {
	z-index: 4;
}

#sky img, #glass img {
	width: 100%;
	height: 100%;
}

#title {
	position: absolute;
	top: 8%;
	right: 18.5%;
	font-size: 1em;
	width: 34%;
	bottom: 83%;
	font-weight: normal;
	text-transform: uppercase;
}
#title h1 {
	line-height: 1.5em;
	font-size: 2.4em;
}

#name {
	position: absolute;
	top: 31.95%;
	left: 7.5%;
	width: 11.5%;
}

#panel {
	position: absolute;
	top: 28%;
	left: 24%;
	width: 11%;
	height: 58%;
	background: rgba(255,255,255,0.8);
	text-align: left;
	padding: 0.5em;
	font-size: 0.8em;
	overflow: hidden;
}
#panel h3 {
	font-size: 1.5em;
	font-stretch: extra-expanded;
	font-family: "Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif;
}
#panel .altname {
	margin-top: 0px;
	font-weight: bold;
}
