html, body {
    margin: 0;
    min-height: 100%;
    overflow: auto;
}

body {
	text-align: center;
	font-size: 1em;
	color: #202020;
	margin: 0px;
	padding: 0px;
	background: #202020;
	position: relative;
}

body.full-page {
	background-color: #fff;
	font-size: 2em;
}

.pane-wrapper {display:table-row;}
.pane-wrapper .twocol { width:40%; display: table-cell;}
.pane-wrapper .onecol { width:20%; display: table-cell; vertical-align: middle;}

.gray-2-grad, #lcogt-bar {
    background: #606060 -moz-linear-gradient(center top , #404040, #606060) repeat scroll 0 0;
    color: white;
}

#lcogt-bar { margin: 0; height: 32px; clear:both; line-height: 26px; color: #cccccc; font-size: 14px; overflow: hidden; font-family: Helvetica,"Bitstream Vera Sans",Arial,sans-serif;}
#lcogt-bar a { color: #e6e6e6; text-decoration: none; }
#lcogt-bar ul { margin: 0; padding: 0; list-style: none; }
#lcogt-bar li { display: inline-block; padding: 0px 8px; }
#lcogt-bar li a { border-left: 1px solid #cccccc; padding-left: 8px; }
#lcogt-bar li:first-child { padding-left: 0px; }
#lcogt-bar li:first-child a { border-left: 0px; }
#lcogt-bar li:last-child { padding: 0px; }
#lcogt-bar li:last-child a { padding-left: 8px; }
#login { margin: 0; padding: 0 0 0 0; display: inline; float: right; text-align: right; }
#login, #lcogt-name { padding: 3px 8px; text-align: left; }

#lcogt-bar a {
    color: white;
    text-decoration: none;
    text-align: left;
}

.bigpadded {
	padding-top: 30px;
}


/* overlay styles, all needed */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
#message-popup {
    min-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}
#message-popup.wide-popup { width: 500px; }
#message-popup.small-popup { width: 300px;}
#message-popup p { font-size: 16px; }
#message-popup h3 { font-size: 24px; }
#message-popup a { font-size: 16px; }
#message-content { padding:0.5rem; height:100%;}
.message-popup-close i {padding:0.25rem;}
.message-popup-close { text-align: right; cursor: pointer!important; }


.jsonly { display: none; }

h1, h2, h3, h4, #nametoggle, #insttoggle { margin:0px; font-family: "Birch Std", Didot, "Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif; }

label {display:block; font-family: "Birch Std", Didot, "Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif; }
#loginForm input {font-size: 1em;}

.tos, .account_options, .menuholder {font-size: 0.5em}

#outer {
	width: 1016px;
	height: 610px;
	margin: 0 auto;
	padding: 2%;
	position: relative;
}

#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	clear: both;
	overflow: visible;
	position: relative;
	background: #c5b39f;
	background: #c5b39f url('../images/texturemap.jpg') no-repeat center center;
	/* Scale image - Safari 3+/Chrome Whatever+/IE 9+/Opera 10+/Firefox 3.6+ */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 2px 3px 15px #000000;
	z-index: 1;
}

#paper {
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
}

#portal {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#sky,#glass,#portalinner,#glass-small {
	position: absolute;
	width: 100%;
	height: 100%;
}
#sky {
	border-radius: 100%;
	overflow: hidden;
	z-index: 3;
}
#glass-small, #glass, #portalinner {
	z-index: 4;
}

#sky img, #glass img, #glass-small img {
	width: 100%;
	height: 100%;
}

#title {
	position: absolute;
	top: 8%;
	right: 18.5%;
	font-size: 1em;
	width: 34%;
	bottom: 83%;
	font-weight: normal;
	text-transform: uppercase;
}
#title h1 {
	line-height: 1.5em;
	font-size: 2.4em;
}

#nametoggle {
	position: absolute;
	top: 31.95%;
	left: 7.5%;
	height: 3.5%;
	width: 11.5%;
	cursor: pointer;
	z-index:5;
}

#nametoggle a { display: block; }

#messier, #panel {
	position: absolute;
	background: white;
	background: white url('../images/paper.jpg') no-repeat center center;
	/* Scale image - Safari 3+/Chrome Whatever+/IE 9+/Opera 10+/Firefox 3.6+ */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: left;
	font-size: 0.7em;
	overflow: hidden;
	border: 5px solid #766a5c;
	box-shadow: 1px 1px 3px #2a2521;
	font-family: "Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif;
	z-index: 5;
}
#panel {
	top: 38%;
	left: 2%;
	width: 0%;
	height: 52%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: 0px;
}
#messier {
	bottom: 2.604%;
	left: 5%;
	width: 30%;
	height: 0%;
	z-index: 3;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 0px;
	box-shadow: 1px -1px 3px #2a2521;
	display: none;
}
.panel .content {
	position: relative;
}
.panel .inner {
	position: absolute;
	right: 0px;
}
.panel .padded {
	margin: 1em;
}
.panel h3 {
	font-size: 2em;
	font-family: "Bodoni MT", "Century Schoolbook", "Niagara Solid", Utopia, Georgia, Times, "Times New Roman", serif;
}
.panel a {
	text-decoration: none;
	color: #766a5c;
}
.panel p {
	margin-top: 0.5em;
	margin-bottom: 0em;
}
.panel .altname {
	margin-top: 0px;
	font-weight: bold;
}

.info-header .info-header-item {display:inline-block;}

.info-header{width:100%;}


.hidden { display: none; }

.flatbtngreen {
    background: #009d00 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -moz-border-radius: 15px;
	border-radius: 15px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
    color: #fff !important;
    display: inline-block;
    font-family: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-size: 1em;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    height: inherit;
    line-height: inherit;
    min-width: 1em;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
}

.flatbtngreen:hover, .flatbtngreen:active, .flatbtngreen:focus {
	cursor: pointer!important;
	background: #3366AA;
	color:#FFFFFF;
	border: 1px solid rgba(0,0,0,0.2);
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

/* Responsive styles for the AVM icons */
@media (min-width: 1024px), (min-device-width: 1024px) {
	.info-header-item img {width:100%;}
}
@media (max-width: 800px), (max-device-width: 800px) {
	.info-header-item img {width:50%;}
	.flatbtngreen {border-radius: 0;}
}
