Django>1.8,<1.9
djangorestframework
beautifulsoup4
django-tools
ipython
lxml
MySQL-python
Pillow==2.9.0
Pygments==2.0.2
PyPDF2==1.25.1
reportlab==3.2.0
requests==2.7.0
svg2rlg==0.3
z3c.rml==2.9.2
zope.event==4.0.3
zope.interface==4.1.2
zope.schema==4.4.2
