{% extends 'index.html' %}
{% load staticfiles %}

{% block scripts %}
<script language="javascript" type="text/javascript" src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'js/auth.js' %}"></script>
<script>
$(document).ready(function(){
	$('#login-btn').on('click',function(){
	  login($('#email').val(), $('#password').val(), function(result){
	    if(result){
	      $('#loginForm').hide();
	      $('#alert-error').hide();
	      $('#logout').show();
	    }else{
	      $('#alert-error').show().find('strong').text('Login Failed');
	    }
	  });
	});
});
</script>
{% endblock %}

{% block scripts-extra %}{% endblock %}

{%block body-class%}full-page{% endblock%}

{% block main-content %}

{% if form.errors %}
			<div class="menuholder">
				{% for e in form.non_field_errors %}
				<div id="msg" class="error" style="display:block;">{{e}}</div>
				{% endfor %}
			</div>
{% endif %}
			<div id="main">

				<div class="bigpadded">
					<div class="row">
					<h1>Messier Bingo</h1>
					<h3>Log into your On Sky account</h3>
					<form id="loginForm" >
						{% csrf_token %}
						<div class="row">
							<label for="username">Email Address:</label>
							<input type="text" name="email" placeholder="Email" id="email">
						</div>
						<div class="row">
							<label for="password">Password:</label>
							<input type="password" name="password" placeholder="Password" id="password">
						</div>
						<div class="row">
              <button class="button" id="login-btn" onClick="return false;">
                Sign in
              </button>
                            <div class="tos">By logging in, you agree to <a href="http://lcogt.net/observatory/termsofuse" target="_blank">the LCOGT terms of use</a>.</div>
						</div>
						<div class="row account_options">
							<a href="https://lcogt.net/observe/auth/accounts/register/">Need an account?</a>
							&nbsp;
							<a href="https://lcogt.net/observe/auth/accounts/password/reset/">Forgot your password?</a>
						</div>
				</div>
			</div>
		</div>
{% endblock %}
